*{
    margin: 0;
   
   
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1044%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1045%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L1221.32 0L1440 245.74z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1221.32 0L1440 245.74L1440 272.38L955.1999999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M955.2 0L1440 272.38L1440 362.78999999999996L812.6 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M812.6 0L1440 362.78999999999996L1440 363.80999999999995L270.33000000000004 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L356.86 560L0 330.72z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 330.72L356.86 560L632.6700000000001 560L0 194.03000000000003z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 194.02999999999997L632.6700000000001 560L935.73 560L0 163.2z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 163.2L935.73 560L1218.13 560L0 102.80999999999999z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1044'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1045'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(18%2c 17%2c 95%2c 0.99)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 200px;
    height: 90px;
    user-select: none;
}
.index a{
    padding: 20px;
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}
.index .login{
    width: 130px;
    padding: 12px;
    background: transparent;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    margin-left: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px white solid;
    color: white;
    transition: .5s;
}
.index .login :hover{
    background-color: white;
    color: black;
}


.index .signup{
    width: 130px;
    padding: 12px;
    margin-left: 30px;
    border-radius: 20px;
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    border: 2px white solid;
    background: transparent;
    color: white; 
    transition: .5s;
    cursor: pointer;
}
.index .signup :hover{
    background-color: white;
    color: black;
}
.middle{
    display: flex;
    justify-content: center;
    margin-left: 500px;
    align-items: center;
}
.container{
    position: relative;   
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
   box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
   
}
.container .form-login{
    width: 100%;
    padding: 40px;

}
.container h2{
    font-size: 2rem;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:focus~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right:8px;
    font-size: 1.2rem;
    color: #162938;
    line-height: 57px;
}
.rem-me{
font-size: 0.9rem;
color: #162938;
font-weight: 500;
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}
.rem-me label input{
 accent-color: #162938;
 margin-right: 3px;
}
.rem-me a{
    color:  #162938;
    text-decoration: none;
}
.rem-me a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    background-color: rgb(103, 103, 239);
    border: 0px;
    outline: 0px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}
.register{
font-size: 0.9rem;
color: #162938;
text-align: center;
font-weight: 500;
margin: 25px 0 10px;

}
.register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;

}
.register p a :hover{
    text-decoration: underline;
}