@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* variables  */
:root{
    --main-color: #8498ea;
    --text-color: #041869;
    --bg-color: #fff;
}

body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1044%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1045%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L1221.32 0L1440 245.74z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1221.32 0L1440 245.74L1440 272.38L955.1999999999999 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M955.2 0L1440 272.38L1440 362.78999999999996L812.6 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M812.6 0L1440 362.78999999999996L1440 363.80999999999995L270.33000000000004 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L356.86 560L0 330.72z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 330.72L356.86 560L632.6700000000001 560L0 194.03000000000003z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 194.02999999999997L632.6700000000001 560L935.73 560L0 163.2z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 163.2L935.73 560L1218.13 560L0 102.80999999999999z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1044'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1045'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(18%2c 17%2c 95%2c 0.99)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--bg-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    transition: 0.5s;
    
}
header.shadow{
    background: linear-gradient(to bottom, #070737, #181656)transparent; /* from #2193b0 to #6dd5ed */
    box-shadow: 0 0 4px rgb(14 55 54/15%);
    backdrop-filter: blur(20px);

}
header.shadow .navbar a{
    color: var(--bg-color);
}
header.shadow .logo{
    color: var(--text-color);
}


.logodesign{
    align-items: center;
    color: var(--bg-color);
    display: flex;
    column-gap: 0.5rem;
    height: 60px;
}

.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color);
}
.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
}
.navbar a:hover::after,
.navbar .home-active::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10000;
    display: none;
}
.btn{
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn:hover{
    background: #fa1216;
}

/* Home  */
section{
    padding: 4.5rem 0 1.5rem;
}
.container{
    width: 100%;
    min-height: 580px;
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(2, 3, 7,0.5);
}
.container video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
.swiper-pagination-bullet{
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color) !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    width: 1.5rem !important;
    background: var(--main-color) !important;
}
/* Ensure swiper slides take up the full space */
.swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Style the video to fill the entire container */
.swiper-slide video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers the entire container */
}

/* Overlay text container */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align the text at the bottom */
    padding: 25px;
    z-index: 10;
    color: #fff; /* White text for visibility */
}

/* Styling for the span (Upcoming Movie) */
.overlay span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #8498ea;
    letter-spacing:2px;
    text-shadow: 0 0 10px rgb(0, 255, 255,0.5),0 0 20px rgb(0, 255, 255,0.5);

}

/* Styling for the heading span (Movie title) */
.overlay .heading-span {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing:7px;
    text-shadow: 0 0 10px rgb(12, 15, 15,0.5),0 0 20px rgb(12, 15, 15,0.5);

}


.heading{
    margin-top: 20px;
    max-width: 1500px;
    margin-left: 20px;
    margin-right: auto;
    font-size: 2.2rem;
    font-weight: 600;
}
/* Movie Section */

.movies-container{
    max-width: 1500px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 1.5rem;
    margin-top: 1.8rem;
    margin-bottom: 2.9rem;
    justify-content: center;
}
.box .box-video{
    width: 350px;
    height: 190px;
    cursor: pointer;
}
.box .box-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.6rem;
}
.box .box-video video:hover{
    transform: scale(1.05);
    transition: 0.2s all linear;
    box-shadow: 0 0 10px rgb(0, 255, 255,0.5),0 0 20px rgb(0, 255, 255,0.5);

}


.box h3{
    height: 50px;
    width: 300px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 600;
}

.music-container {
    max-width: 1500px;
    align-items: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin-top: 1.8rem;
    margin-bottom: 2.9rem;
}

/* Music Card */
.music-card {
    width: 100%;
    max-width: 280px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #08186b, #070620);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.music-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5);
}

/* Playing Animation */
.playing {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 1px;
    bottom: 25px;
    left: 10px;
    z-index: 100;
    width: 40px;
    height: 40px;
}

.greenline {
    background-color: #e7eae8;
    height: 15px;
    width: 2px;
    position: relative;
    transform-origin: bottom;
}

/* Button */
.music-card .button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #8498ea;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}

.button:hover {
    background-color: #a4b3ee;
    box-shadow: 0 4px 8px rgba(132, 152, 234, 0.4);
}

/* Image Content */
.img-content {
    height: 250px;
    width: 100%;
}

.img-content img {
    display: block;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

/* Music Content */
.music-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.texts .title-1 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.texts .title-2 {
    color: lightgrey;
    font-size: 0.9rem;
    font-weight: bold;
}

/* copyright */

.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    margin-top: 60px;
}

/* responsive  */
@media (max-width: 1080px){
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(320px,auto));
    }
      .movie-base {
        flex: 1 1 calc(33.33% - 20px); /* 3 items per row */
        max-width: calc(33.33% - 20px);
    }
    .home-text{
        padding: 0 100px;
    }
    .music-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 0.8rem;
    }
    .img-content {
        height: 180px;
    }
    .music-card {
        height: 260px;
    }
    .texts .title-1 {
        color: white;
        font-size: 0.9rem;
        font-weight: bold;
    }
    
    .texts .title-2 {
        color: lightgrey;
        font-size: 0.5rem;
        font-weight: bold;
    }
    .box .box-video{
        width: 300px;
        height: 150px;
        cursor: pointer;
    }

}
@media (max-width: 991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text{
        padding: 0 4%;
    }
    .home-text h1{
        font-size: 3rem;
    }
    
    .playing{
        display: none;
    }
    .music-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 0.8rem;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(320px,auto));
    }
    .movie-base {
        flex: 1 1 calc(50% - 20px); /* 2 items per row */
        max-width: calc(50% - 20px);
    }
    .music-card {
        height: 280px;
    }
    .img-content {
        height: 200px;
    }
}
@media (max-width: 774px){
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
        color: var(--bg-color);
    }
    header.shadow #menu-icon{
        color: var(--bg-color);
    }
    .navbar {
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: linear-gradient(to right, #0c0cdd, #0c0660)transparent;
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgba(53, 188, 186, 0.15);
        transition: 0.2s all linear;
        text-align: center;
        width: 100%;
    }

    .navbar a {
        color: var(--bg-color);
    }

    .navbar a:hover {
        color: var(--bg-color);
        border-bottom: 1px solid var(--bg-color);
    }
    .navbar a::after{
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .btn{
        padding: 0.6rem 1.2rem;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(320px,auto));
    }
    .movie-base {
        flex: 1 1 calc(50% - 20px); /* 2 items per row */
        max-width: calc(50% - 20px);
    }
    .music-container {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 0.8rem;
    }

    .music-card {
        height: 300px;
    }
    .img-content {
        height: 220px;
    }

    .texts .title-1 {
        font-size: 1.2rem;
    }

    .texts .title-2 {
        font-size: 0.8rem;
    }

    .music-card .button {
        width: 35px;
        height: 35px;
        font-size: 0.9rem;
    }
    .overlay span {
        font-size: 1em;
        letter-spacing:0.71px;
        
    }
    
    .overlay .heading-span {
        font-size: 2em;
        letter-spacing:4px;
        margin-top: 0.7px;
    
    }
    .box .box-video{
        width: 300px;
        height: 150px;
        cursor: pointer;
    }
}






@media (max-width: 472px){
     .movie-base {
        flex: 1 1 100%; /* 1 item per row */
        max-width: 100%;
    }
    .logodesign{
        
        height: 50px;
    }
    .heading {
        font-size: 1.2rem;
        padding: 0px;
    }
    .overlay .heading-span{
        font-size: 1rem;
    }
    .box h3 {
        font-size: 0.9rem;
    }
    .newsletter form .email{
        width: auto;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .container{
        width: 100%;
        min-height: 500px;
    }
    header{
        padding: 6px 4%;
    }
    .home-text h1{
        font-size: 1.7rem;
    }
    .play{
        right: 2rem;
        bottom: 8%;
    }
    .play .bx{
        padding: 7px;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }
    .music-card {
        height: 205px;
    }
    .img-content {
        height: 140px;
    }
    .music-container {
        margin: 0px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .texts .title-1 {
        font-size: 0.7rem;
    }

    .texts .title-2 {
        font-size: 0.5rem;
    }

    .music-card .button {
        width: 30px;
        height: 30px;
        font-size: 0.8rem;
    }
    .box .box-video{
        width: 300px;
        height: 160px;
        cursor: pointer;
    }
}
/*Animation Section*/

.line-1,
.line-2,
.line-3,
.line-4,
.line-5 {
    display: inline-block; /* Ensure elements are inline */
    transform-origin: center bottom; /* Define scale origin */
    animation: playing 1s ease-in-out infinite; /* Correct shorthand syntax */
}

.line-1 {
    animation-delay: 0.2s;
}
.line-2 {
    animation-delay: 0.5s;
}
.line-3 {
    animation-delay: 0.6s;
}
.line-4 {
    animation-delay: 0s;
}
.line-5 {
    animation-delay: 0.4s;
}

@keyframes playing {
    0% {
        transform: scaleY(0.1);
    }
    33% {
        transform: scaleY(0.6);
    }
    66% {
        transform: scaleY(0.9);
    }
    100% {
        transform: scaleY(0.1);
    }
}
